/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,a,h3{
    text-decoration: none;
    list-style-type:none;
    color: rgb(255, 255, 255);
}


/* FONT  */
*{
    font-family: 'Roboto', sans-serif;
}

.header-container a{
    font-size: 18px;
    font-weight: 500;
}

.info-prodotto .nome-prodotto{
    font-size: 20px;
    font-weight: 500;
}

.box-prodotto .like,.add-carrello{
    font-size: 30px;
}

.box-principale .box-prodotto i{
    color: rgb(91, 91, 91);
}

.box-prodotto .tag .sconto{
    background-color: rgba(255, 0, 0, 0.537);
    color: white;
}

.box-prodotto .tag .sostenibilità{
    background-color: rgba(0, 128, 0, 0.583);
    color: rgb(255, 255, 255);
}

.info-prodotto .prezzo-attuale{
    color: red;
}

.info-prodotto .prezzo-scontato{
    text-decoration: line-through;
}

.info-prodotto .prezzo-attuale,
.info-prodotto .prezzo-scontato{
    line-height: 35px;
}

.container-footer .sezione-social{
    color: white;
}

.sezione-social li{
    font-size: 30px;
}

.sezione-info li{
    font-size: 13px;
    padding-top: 10px;
}

/* HEADER  */
header{
    background-color: #ff6900;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-shadow: -1px 0px 28px 8px rgba(0,0,0,0.43); 
    box-shadow: -1px 0px 28px 8px rgba(0,0,0,0.43);
    transition-duration: 2s;
}

.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.header-container img{
    height: 40px;
    display: block;
    margin:20px;
}

.header-container ul{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    width: 400px ;
}

.header-container ul:last-child{
    justify-content: right;
}

header a{
    transition-duration: 0.5s;
}


header a:hover{
    color: #1a1a1a;
    font-size: 20px;
    
}


/* /HEADER  */



/* MAIN  */

.box-principale{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 120px auto 50px auto;
    gap: 10px;
    justify-content: space-between;
}

.box-principale .box-prodotto{
    width: calc(33% - 10px);
    padding-bottom: 40px;
}

.box-prodotto .box-img{
    position: relative;  
    -webkit-box-shadow: -1px 0px 23px 8px rgba(0,0,0,0.35); 
    box-shadow: -1px 0px 23px 8px rgba(0,0,0,0.35);  
}

.box-prodotto img{
    width: 100%;
    display: block;
}

.box-prodotto .like{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}
.box-prodotto .add-carrello{
    position: absolute;
    top: 50px;
    right: 0;
    padding: 15px;
}

.box-prodotto .tag{
    position: absolute;
    bottom: 20px;
}

.box-prodotto .esaurito{
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    background-color: rgba(188, 28, 28, 0.623);
    font-size: 50px;
    font-weight: 600px;
    text-align: center;
    -webkit-box-shadow: 1px 14px 23px 8px rgba(199,20,79,0.25); 
    box-shadow: 1px 14px 23px 8px rgba(199,20,79,0.25);
}

.box-prodotto .tag .sconto,
.box-prodotto .tag .sostenibilità{
    padding: 5px;
    margin-right: 5px;
}

.info-prodotto{
    padding-top: 10px;
}


.hover{
    display: none;
}


.box-1:hover .hover,
.box-2:hover .hover,
.box-3:hover .hover,
.box-4:hover .hover,
.box-5:hover .hover,
.box-6:hover .hover{
    display: block;
}

.box-1:hover .not-hover,
.box-2:hover .not-hover,
.box-3:hover .not-hover,
.box-4:hover .not-hover,
.box-5:hover .not-hover,
.box-6:hover .not-hover{
    display: none;
}

.hover{
    transition-duration: 2s;
}

.box-img .fa-heart,
.box-img .fa-cart-shopping{
    transition-duration: 0.2s;
}

.box-principale .box-prodotto .fa-heart:hover {
    color: red;
    font-size: 34px;    
}

.box-principale .box-prodotto .fa-cart-shopping:hover {
    color: #ff6900;
    font-size: 34px;
}
    
/* /MAIN  */

/* FOOTER  */

footer{
    background-color: #1a1a1a;
}
.container-footer{
    width: 1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.container-footer .menu-footer,
.container-footer .sezione-social ul{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    gap: 13px;
}

.sezione-social i,
.menu-footer a{
    transition-duration: 0.3s;
    }

.menu-footer a:hover{
    text-decoration: underline;
}
.sezione-social i:hover{
font-size: 40px;
}
/* /FOOTER  */